<<<<<<< HEAD
body {
  background-image: url("Website_Background.jpg");
}

.title {
  text-align: center;
  color:white;
  font-size:70px;
=======
#gameCanvas {
  background-color: green;
>>>>>>> bee4c2aebc5547b3eac18cf091597bd39481d603
}
