body {
  background-image: url("Website_Background.jpg");
}

.title {
  text-align: center;
  color:white;
  font-size:70px;
  font-family: 'Oswald', sans-serif;
}

.usernameForm {
  text-align: center;
  color: white;
}
<<<<<<< HEAD
#gameCanvas {
  background-color: green;
  width: 80%;
  height: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
